header {
  padding: 1rem 2rem;
  color: white;
  background: #333;
}

header > h1 {
  font-size: 1rem;
  margin: 0;
}

section {
  width: 100vw;
  padding: 1rem 2rem;
}

section.tile-setting, section.grid-container, section.metrics {
  border-top: 2px solid #EEE;
}

button {
  padding: 0.4rem 1rem;
  border: none;
  border-radius: 0.4rem !important;
  color: white;
  background-color: #d7564e;
  cursor: pointer;
}

input {
  padding: 0.1rem 0.2rem;
  border: none;
  background-color: #EEE;
  border-radius: 0.2rem;
}

label.setting {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

label.setting:not(:last-child) {
  margin-right: 0.8rem;
}

label.setting > * {
  margin: 0;
}

label.setting > *:not(:first-child) {
  margin-left: 0.3rem;
}