.tile-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 100px;
  border-radius: 0.4rem;
}

.tile-view, .tile-legend.plain {
  background-color: #EEE;
}

.tile-view.blocked, .tile-legend.blocked {
  background-color: #AAA;
}

.tile-view.focused {
  border: 0.3rem solid #982649;
}

.tile-view.in-open-list, .tile-legend.in-open-list {
  background-color: #9CD8C8;
}

.tile-view.in-closed-list, .tile-legend.in-closed-list {
  background-color: #7EB2DD;
}

.tile-view > .tile-label {
  margin: 0;
  font-size: 1.4rem;
  user-select: none;
  z-index: 1; /* Bring labels above the path view */
}

.tile-view > .start, .tile-view > .end {
  color: black;
}

.tile-view > .weight {
  color: rgba(0, 0, 0, 0.5);
}